:root {
    --Dark-Blue: #2A3647;
    --Light-Blue: #29ABE2;
    --BGC-Gray: #F6F7F8;
    --Link-Color: #A8A8A8;
    --Error: #FF8190;


    --Shadow: 0px 0px 14px -3px #000000;

    --FS-L: 16px;
    --FS-M: 14px;
    --FS-S: 12px;
    --FW-L: 700;
    --FW-M: 400;  

    --Padding-L: 32px;
    --Padding-M: 22px;
    --Padding-S: 18px;

    --Margin-S: 5px;
    --Margin-M: 10px;
    --Margin-L: 15px;
    
    --Margin-RL-S: 5px;
    --Margin-RL-M: 10px; 
    --Margin-RL-L: 15px;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 19.2px;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--BGC-Gray);
}

.main-section {
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: Fixed (1,016px)px;
    height: Hug (309px)px;
    top: 311px;
    left: 328px;
    gap: 35px;
    padding-top: 60px;
    margin-left: 250px;
    padding-bottom: 60px;
}



img {
    align-items: center;
}



.generator_user_input {
    font-weight: bold;
    color: var(--Light-Blue);
}

.d-none {
    display: none;
}

@media (max-width: 1000px) {
    .main-section {
        margin-left: 0px;
    }

    .contact-grid {
        display: flow;
    }
}