:root{
    --Dark-Blue:  #2A3647;
    --Light-Blue:  #29ABE2;
    --BGC-Gray: : #F6F7F8;

}

body{
    font-family: 'inter';
    box-sizing: border-box;
    margin: 0;
}

.main-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #dd3636;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-section h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #e26464;
    text-align: center;
}

.main-section h2 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #196fb6;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

.main-section p {
    margin: 15px 0;
    line-height: 1.8;
}

.main-section p br {
    line-height: 1.5;
}

.main-section p strong {
    color: #333;
}
