@media(min-width: 1024px) {
    body {
        background-color: var(--BGC-Gray) !important;

    }

    .footer {
        display: none;
    }

    .add-contact {
        display: none;
    }

    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .address-book {
        /* position: fixed;
        top: -5px;
        bottom: 0;
        left: 232px;
        width: 28%;
        max-width: 456px;
        display: flex;
        align-items: center; */
        width: 30%;
    }

    .btn-wrapper{
        background-color: white;
        min-width: 100%;
        position: sticky;
        top: 0;
    }

    .newBTN {
        margin: 32px auto;
        display: flex;
        gap: 12px;
        min-width: 90%;
        max-width: 90%;
        
    }

    .address-section {
        width: 100%;
    }


    .divider {
        min-width: 90%;
        max-width: 90%;
        margin: 8px auto;
    }
}

@media(max-width: 1024px) {
    .sidebar {
        display: none;
    }

    .newBTN {
        display: none;
    }

    .contacts-hero{
        display: none;
    }
}