@media(min-width: 1024px){
    .footer{
        display: none;
    }

    .sidebar{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }
}

@media(max-width: 1024px){
    .sidebar{
        display: none;
}
}