body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    position: relative;
} 

.address-book::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  .address-book::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }
  
  .address-book::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 12px solid #F6F7F8;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    .address-book {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

.address-book {
    margin: 0px auto;
    margin-top: 70px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 16px;
    overflow-y: auto;
    width: 100%;
    max-width: 600px;
    --sb-track-color: #F6F7F8;
    --sb-thumb-color: #a8a8a8;
    --sb-size: 27px;
}

.logo {
    height: 32px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ddd;
}

.contact-list {
    flex: 1;
    overflow-y: auto;
    /* padding: 16px;
    padding-left: 24px; */
}

.contact-group {
    margin-bottom: 24px;
}

.contact-group h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    color: #555;
    margin-left: 28px;
}

.divider {
    height: 1px;
    background: #ddd;
    margin: 8px 0;
    margin-left: 16px;
}

.contact-item {
    display: flex;
    align-items: center;
    /* margin-bottom: 16px; */
    padding: 8px 0;
    width: 100%;
    /* margin-left: 24px; */
}

.contact-container:hover {
    background-color: var(--Dark-Blue);
    border-radius: 10px;

}


.contact-container:hover .contact-name{
    color: white;
}

.contact-item .contact-info {
    padding-left: 24px;
}

.contacts-logo-adressbook{
    text-decoration: none !important;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid var(--BGC-Gray);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    text-decoration: none;
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #2A3647;
}



.contact-email {
    font-size: 14px;
    color: var(--Light-Blue);
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    background: #2A3647;
    color: white;
}

.add-contact {
    position: fixed;
    bottom: 100px;
    right: 22px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #2A3647;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.add-contact img {
    width: 24px;
    height: 24px;
}

