@media (max-width: 1920px) {
    .addTaskWrapper {
        padding: 20px;
    }

    .inputFlexbox {
        max-width: 100%;
    }
}

@media (max-width: 1750px) {
    .addTaskWrapper {
        padding: 15px;
    }

}


@media (max-width: 1440px) {
    body {
        overflow: auto;
    }

    .pageWrapper {
        width: 100%;
    }


    .addTaskWrapper {
        flex-direction: column;
        padding: 10px;
        margin-top: 190px;
    }

    .addTaskHeader {
        margin-bottom: 20px;
    }

    .leftColumn, .rightColumn {
        width: 100%;
    }

    .inputFlexbox {
        width: calc(100% - 40px);
        margin: 10px auto;
        box-sizing: border-box;
    }

    .divider {
        display: none;
    }

    form {
        max-width: 492px !important;
    }

    .addOrClear {
        position: fixed;
        bottom: 70px;
        width: 100%;
        padding: 10px;
        justify-content: center;
        z-index: 1000;
        right: 0;
        left: 70px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width: 1140px) and (min-width: 1025px) {
    .addOrClear {
        position: relative;
        margin: 20px auto;
        width: calc(100% - 40px);
        max-width: 492px;
        justify-content: flex-end;
        align-items: center;
        z-index: 1000;
    }

    .addTaskWrapper {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}

@media (max-width: 1024px) {
    .addTaskHeader {
        font-size: 30px;
    }

    .addTaskWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    .inputFlexbox {
        width: calc(100% - 40px);
        margin: 10px auto;
        padding: 0 10px;
    }

    .leftColumn, .rightColumn {
        width: 100%;
        margin: 0;
    }

    form {
        padding-bottom: 80px;
        margin-left: 0;
    }

    .required-icon {
        margin-left: 40px;
    }
}

@media (max-width: 968px) {
    .addTaskWrapper {
        padding: 15px;
    }

    .inputFlexbox {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .addTaskWrapper {
        flex-direction: column;
        padding: 15px;
        margin: 0 auto;
        width: 100%;
    }

    .leftColumn, .rightColumn {
        width: 100%;
    }

    .divider {
        display: none;
    }

    .sidebarWrapper {
        display: none;
    }

    .addTaskWrapper {
        padding: 10px;
        margin: 0 auto;
        width: 100%;
    }

    .leftColumn {
        margin-top: auto;
    }

    .inputFlexbox {
        width: calc(100% - 20px);
        margin: 5px auto;
        padding: 0 10px;
    }

    .addOrClear {
        left: 105px;
    }

}

@media (max-width: 550px) {
    .addTaskWrapper {
        padding: 10px;
        margin: 0 auto;
        width: 100%;
    }

    .inputFlexbox {
        width: calc(100% - 10px);
        margin: 5px auto;
        padding: 0 5px;
    }
}


@media (max-width: 478px) {
    .sidebarMenu {
        font-size: 18px;
        gap: 15px;
    }

    .sidebarContent {
        padding-left: 50px;
    }

    .addOrClear {
        left: 65px;
    }
}

@media (max-width: 400px) {
    .addTaskHeader {
        font-size: 24px;
    }

    .inputFlexbox {
        font-size: 12px;
    }

    .title {
        font-size: 14px;
    }

    .addOrClear {
        left: 48px;
    }
}
