*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width: 1920px) {
    .inputFlexbox {
        max-width: 100%;
    }
}

@media (max-width: 1440px) {
    body {
        overflow: auto;
    }

    .pageWrapper {
        width: 100%;
    }

    .addTaskWrapper {
        flex-direction: column;
        padding: 10px;
        margin-top: 190px;
        margin-bottom: 20px;
    }

    .leftColumn, .rightColumn {
        width: 100%;
        position: static;
    }

    .inputFlexbox {
        width: calc(100% - 40px);
        margin: 4px auto;
        box-sizing: border-box;
    }

    .divider-column {
        display: none;
    }

    form {
        max-width: 492px !important;
        margin-top: 42px;
        margin-bottom: 0;
    }

    .addOrClear {
        position: relative;
        margin: 0 auto;
        bottom: 70px;
        padding: 10px;
        justify-content: center;
        z-index: 1000;
        right: 0;
        left: 100px;
    }

    .required-icon {
        margin-left: -180px;
    }

    .addOrClear {
        width: calc(100% - 45%);
        left: 90px;
    }

    .prioGrade {
        height: 38px;
        padding: 5px;
    }
}

@media (max-width: 1140px) and (min-width: 1025px) {
    .addTaskWrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .addTaskHeader {
        font-size: 30px;
    }

    .addTaskWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .leftColumn, .rightColumn {
        width: 100%;
        margin: 0;
    }

    form {
        margin-left: 0;
    }

}

@media (max-width: 430px) {
    .prioDivsWrapper {
        gap: 5px;
    }

    .description textarea {
        height: 68px;
    }

    .addOrClear {
       margin-left: 25px;
    }

    .addOrClearBtn {
        margin-right: 72px;
        margin-top: -150px;
        margin-bottom: 20px;
        position: fixed;
    }

    .prioGrade {
        height: 38px;
        padding: 5px;
        font-size: 10px;
    }

    .required-icon {
        display: none;
    }

    .addedSubtaskImages {
        margin-left: 75%;
    }

}
