 body {
   background-color: rgb(246, 247, 248);
   height: 100%;
 }

 .addTaskWrapper {
   width: 100%;
   padding-top: 80px;
   overflow: none;
 }

 .inputFlexbox {
   padding-top: 40px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   font-size: 16px;
   width: 428px;
 }

 .title {
   border: 1px solid rgb(209, 209, 209);
   border-radius: 10px;
   height: 56px;
   outline: none;
   padding: 6px;
   height: 40px;
 }

 #description {
   padding-bottom: 50px;
   resize: none;
 }

 .title:focus {
   border-color: rgb(143, 208, 237);
 }

 .title::placeholder {
   color: rgb(220, 220, 220);
 }

 #assignedToDropdownContacts {
   position: relative;
   border: 1px solid rgb(209, 209, 209);
   border-radius: 10px;
   display: flex;
   background-color: white;
 }

 #assignedToDropdownCategory {
   position: relative;
   border: 1px solid rgb(209, 209, 209);
   border-radius: 10px;
   display: flex;
   background-color: white;
 }

 #assignedToDropdownContacts:focus-within,
 .dropdown-selected:focus,
 #assignedToDropdownContacts:active {
   border-color: #29ABE2;
 }

 #assignedToDropdownCategory:focus-within,
 .dropdown-selected:focus,
 #assignedToDropdownCategory:active {
   border-color: #29ABE2;
 }

 .dropdown-selected {
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   border-radius: 10px;
 }



 #dropdown-subtasks {
   position: relative;
   display: flex;
   background-color: white;
   padding: 0px;
   height: 56px;
   border: 1px solid rgb(209, 209, 209);
   border-radius: 10px;

 }

 #dropdown-arrow-contacts {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 20px;
   transition: transform 0.3s ease;
 }

 #dropdown-arrow-subtasks {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 20px;
   transition: transform 0.3s ease;
 }

 #dropdown-list-contacts {
   border-radius: 10px;
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   width: 428px;
   background-color: #fff;
   border: 1px solid #ccc;
   list-style: none;
   padding: 0;
   margin: 0;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   height: 200px;
   overflow: auto;
 }

 #dropdown-list-category {
   border-radius: 10px;
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   width: 428px;
   background-color: #fff;
   border: 1px solid #ccc;
   list-style: none;
   padding: 0;
   margin: 0;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   z-index: 998;
 }

 #input-subtask {
   width: 100%;
   color: black;
   border: none;
 }

 #input-subtask:focus {
   border: 1px solid;
   outline: none;
   border-color: #29ABE2;
 }

 #dropdown-plus-subtasks {
   width: 12px;
   height: 12px;
   position: absolute;
   right: 16px;
   top: 50%;
   transform: translateY(-50%);
 }

 .open .dropdown-arrow {
   transform: rotate(180deg);
 }

 .dropdown-item-contacts {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 30px;
   padding: 5px;
   margin: 10px;
 }

 .dropdown-item-category {
   padding: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 30px;
 }

 .custom-checkbox input[type="checkbox"] {
   display: none;
 }

 .custom-checkbox {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 10px;
 }

 .custom-checkbox span {
   width: 20px;
   height: 20px;
   display: inline-block;
   border: 2px solid #ccc;
   border-radius: 4px;
   margin-left: 10px;
   cursor: pointer;
   transition: background-color 0.2s, border-color 0.2s;
 }

 .custom-checkbox input[type="checkbox"]:checked+span {
   border: 0px;
   background-image: url('../assets/icons/check-contacts.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 26px 26px;
   width: 26px;
   height: 26px;
 }

 .blueFrame {
   border-color: #29ABE2;
 }

 .prioDivsWrapper {
   display: flex;
   justify-content: space-between;
 }

 .prioGrade {
   padding: 10px;
   border: 1px solid #ccc;
   ;
   border-radius: 10px;
   background-color: white;
   display: flex;
   align-items: center;
   gap: 5px;
 }

 .filterWhite {
   filter: grayscale(100%) invert(100%) brightness(1000%);
 }

 .prioGrade:hover {
   cursor: pointer;
 }

 .redColor {
   background-color: red;
 }

 .orangeColor {
   background-color: orange;
 }

 .greenColor {
   background-color: green;
 }

 .addOrClear {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 20px;
   position: sticky;
   bottom: 80px;
   background-color: #aeb2b4;
   z-index: 999;
   background-color: rgb(246, 247, 248);
 }

 .addOrClearBtn {
   border: 1px solid;
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 16px;
   border-radius: 10px;
   cursor: pointer;
 }

 .addOrClear p {
   margin: 0px;
 }

 #add {
   margin-right: 8px;
   background-color: rgb(42, 54, 71);
   color: white;
 }

 #clear img {
   width: 20px;
   height: 20px;
 }

 #subtasks {
   padding-bottom: 150px;
 }

 #subtasks p {
   font-size: 12px;
   margin: 0px;
 }

 .blueBackground {
   background-color: blue;
 }

 .taskCard {
   background-color: rgb(255, 255, 255);
   width: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   padding: 10px;
   margin: 10px;
   gap: 24px;
   box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
   font-size: 16px;
 }

 #assignedContacts {
   display: flex;
   align-items: center;
 }

 .initials {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: -3px;
   padding: 10px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border: 1px solid white;
   font-size: 12px;
   color: white;
 }

 .categoryTask {
   background-color: rgb(0, 56, 255);
   padding-right: 20px;
   padding-left: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   color: white;
   border-radius: 10px;
 }

 .cardHeader {
   display: flex;
   align-items: start;
   background-color: transparent;
 }

 .titleTask {
   font-weight: 700;
 }

 .descriptionTask {
   color: rgb(190, 190, 190);
 }

 .cardTextContent {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;

 }

 input:-webkit-autofill {
   background-color: transparent !important;
   -webkit-box-shadow: 0 0 0px 1000px white inset !important;
   -webkit-text-fill-color: black !important;
 }

.subtaskImages {
  width: 20px;
}

.positioningSubtaskImages {
  display: flex;
  align-Items: center;
  position: absolute;
  right: 10px;
  top: 18px;
  gap: 14px;
}

.divider {
  height: 20px;
  width: 1px;
  background-color:  #ccc;
}

#ulSubtasks {
  list-style-type: none;
  padding-left: 20px; 
}

#ulSubtasks li {
  position: relative;
  padding-left: 20px;
}

#ulSubtasks li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #000;
  font-size: 1.2rem;
}

.addedSubtaskImages {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.seperatorAddedSubtasks {
  width: 1px;
  height: 20px;
  background-color: #aeb2b4;
}

.addedSubtaskContent {
  display: flex;
  justify-content: space-between;
}

#addedEditSubtask {
  position: relative;
  width: 100%;
}

#subtaskEdit {
  width: 100%;
  padding-right: 50px; 
  box-sizing: border-box;
}

#editSubtaskImg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 10px;
}

#editSubtaskImg img {
  height: 20px;
  cursor: pointer;
}

.dividerEditSubtask {
  height: 20px;
  width: 1px;
  background-color: #ccc;
}

#assignedToInitials {
  display: flex;
  width: 100%;
  height: 50px;
  margin-left: 10px;
}

#assignedToInitials .initials {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 14px;
}

textarea {
  resize: none;
}

#required {
  width: 6px;
}

#requiredHeaders {
  gap: 2px;
  display: flex;
  align-items: start;
}

.whitePrioFont {
  color: white;
}

