.boardWrapper {
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1024px;
    margin: 0px auto;
}

#plusIcon {
    width: 40px;
    height: 40px;
}

h1 {
    font-size: 50px;
}

.inputWrapper {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.inputField {
    max-height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    width: 396px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
}

.inputField input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.inputField img {
    width: 20px;
    height: auto;
}

.inputField:hover {
    border-color: #888;
}

#searchIcon {
    width: 48px;
    height: 32px;
    padding-right: 10px;
}

#plusIconCard {
    width: 30px;
    height: 30px;
}

#plusIconCard:hover {
    cursor: pointer;
}

.noTasksWrapper {
    display: flex;
    justify-content: center;
}

.noTasksContent {
    border: 2px dotted;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    width: 396px;
    height: 48px;
    font-size: 16px;
    color: rgb(175, 175, 175);
}

.headerFlexbox {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.doneWrapper {
    margin-bottom: 200px;
}


#progressBarWrapper {
    height: 10px;
    background-color: rgb(244, 244, 244);
    width: 100px;
    border-radius: 10px;
}

#progressBar {
    height: 7px;
    background-color:rgb(69, 137, 255);
    width: 0%;
    border-radius: 10px;
    transition: width 0.3s ease;
}

#progressBarDiv {

}