body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #2A3647;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 16px;
    max-width: 428px;
    margin: 80px auto 0;
    box-sizing: border-box;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero h1 {
    font-size: 47px;
    font-weight: bold;
    color: #2A3647;
}

.hero h3 {
    font-size: 20px;
    color: #2A3647;
    margin: 0;
}

.divider {
    border-bottom: 3px solid #29ABE2;
    width: 100%;
}

.hero a img {
    width: 32px;
    height: 32px;
}

.contact-section {
    background-color: #ffffff;
    padding-top: 16px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.contact-header .logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffc700;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
}

.contact-header h1 {
    font-size: 47px;
}

.contact-info p {
    font-size: 16px;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-info a {
    color: #29ABE2;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.menu-button {
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #2A3647;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.menu-button img {
    width: 32px;
    height: 32px;
}

.top-container {
    width: 396px;
    height: 352px;
    background-color: #2A3647;
    color: white;
}

.contact-container {
    width: 282px;    
    height: 104px;
    gap: 16px;
    opacity: 0px;
}


.Input-Field{
    gap: 32px;
    display: flex;
    flex-direction: column;
    padding: 0 16px
}

form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

form h1{
    margin: 0;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
}

input{
    height: 48px;
    border-radius: 10px;
    border: 1px solid lightgray;    
    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;
}
 input[type="email"]{
    background-image: url(../assets/images/mail.svg);
    background-repeat: no-repeat;
    background-position: 95%;
 }

 input[type="password"]{
    background-image: url(../assets/images/lock.svg);
    background-repeat: no-repeat;
    background-position: 95%;
 }