@media (max-width:320px) {
    .footerMobileWrapper {
        max-width: 100%;
        height: 70px;
        background-color: rgb(42, 54, 71);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }


    .footerLinks {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: rgb(113, 118, 125);
        height: 100%;
        border-radius: 15px;
        gap: 3px;
    }

    .footerLinks:hover {
        background-color: rgb(9, 25, 49);
    }

    .footerLinks img {
        width: 20px;
    }

}