.footerMobileWrapper {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 70px;
    background-color: rgb(42, 54, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--FS-S);
    z-index: 9999;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(113, 118, 125);
    height: 100%;
    border-radius: 15px;
    gap: 3px;
    margin-left: var(--Margin-RL-M);
    margin-right: var(--Margin-RL-M);
}

.footerLinks:hover {
    background-color: rgb(9, 25, 49);
}

.footerLinks img {
    width: 20px;
}

@media (min-width: 1025px) {
    .footerMobileWrapper {
        display: none;
    }

    .footerDesktopWrapper {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: rgb(42, 54, 71);
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .footerMobileWrapper {
        display: flex !important;
    }
}