@keyframes overlay {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes white {
    0% {
        height: 121.97px;
        width: 100.03px;
        transform: translate(calc(50vw - 50%), calc(50vh - 50%));

    }

    100% {
        height: 78.03px;
        width: 64px;
        transform: translate(0, 0);
    }
}


@keyframes blue {
    0% {
        height: 121.97px;
        width: 100.03px;
        transform: translate(calc(50vw - 50%), calc(50vh - 50%));
        opacity: 0;
    }

    100% {
        height: 78.03px;
        width: 64px;
        transform: translate(0, 0);
        opacity: 1;
    }
}

.Body-LogIn {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 0 16px;
    position: relative;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: var(--Dark-Blue);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: overlay 800ms ease-in-out 200ms forwards;
    z-index: 999;
}

.log-in-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 16px;
    max-width: 1920px;
    margin: 0 auto;
}

.Mobile-Header-Icon {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.blue-icon {
    position: absolute;
    left: 38px;
    top: 37px;
    height: 121.97px;
    width: 100.03px;
    opacity: 0;
    animation: blue 800ms ease-in-out 200ms forwards;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.white-icon {
    position: absolute;
    left: 38px;
    top: 37px;
    height: 121.97px;
    width: 100.03px;
    animation: white 800ms ease-in-out 200ms forwards;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.Form-Wrapper {
    background-color: white;
    width: clamp(300px, 100%, 428px);
    text-align: center;
    border-radius: 30px;
    padding: 32px 0;
    box-shadow: var(--Shadow);
    height: auto;
}

.Input-Field {
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    position: relative;
    z-index: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form h1 {
    margin: 0;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
}

input {
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 0 16px;
}

input[type="text"] {
    /* background-image: url(../assets/icons/user.svg); */
    background-repeat: no-repeat;
    background-position: 95%;
}

input[type="email"] {
    background-image: url(../assets/icons/mail.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

input[type="password"] {
    background-image: url(../assets/icons/lock.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

input[type="text"][name="password"] {
    background-image: url('../assets/icons/eye-open.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Platz für das Icon */
    background-image: url('../assets/icons/lock.svg');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 22px;
}

.password-wrapper .password-toggle {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 22px;
    height: 20px;
    display: none;
}

.password-toggle{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 22px;
    height: 20px;
}

input[type=password]:focus + .passwort-toggle{
    display: block;
}

input[type="checkbox"] {
    background-color: initial;
    cursor: pointer;
    appearance: auto;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border-radius: 3px;
    height: 16px;
    width: 16px;
}

.input-error {
    color: var(--Error);
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: start;
    position: absolute;
    bottom: -25px;
}

.error-border {
    border: 1px solid var(--Error);
}

::placeholder {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #D1D1D1;
}

.Checkbox-Remember-Me {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    font-weight: var(--FW-M);
}

.Button-Area {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    margin-top: 20px;
}

.Blue-BTN {
    background-color: var(--Dark-Blue);
    color: white;
    height: 40px;
    width: 180px;
    border-radius: 8px;
    padding: 0 12px;
    border: none;
    font-size: var(--FS-L);
    font-weight: var(--FW-L);
    cursor: pointer;
    transition: all .3s ease-in-out;

}

.Blue-BTN:hover{
    background-color: var(--Light-Blue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.White-BTN {
    background-color: white;
    color: var(--Dark-Blue);
    border: 1px solid var(--Dark-Blue);
    height: 40px;
    width: 180px;
    border-radius: 8px;
    padding: 4px 0;
    font-size: var(--FS-L);
    font-weight: var(--FW-L);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.White-BTN:hover {
    color: var(--Light-Blue);
    border: 1px solid var(--Light-Blue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.Sign-up-Area {
    display: flex;
    gap: 35px;
    font-weight: var(--FW-M);
    position: fixed;
    top: 83vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 280px;
}

.Sign-up-Area p {
    min-width: 50%;
}

.Sign-up-Area button {
    width: 104px;
}

.Sign-up-Area a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Policy-Area {
    display: flex;
    gap: 8px;
    position: fixed;
    top: 93vh;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    white-space: nowrap;
}

.Policy-Area a {
    line-height: 19.2px;
    font-size: var(--FS-M);
    font-weight: var(--FW-M);
    color: var(--Link-Color);
    text-decoration: none;
    padding: 8px;
    transition: all .3s ease-in-out;
}

.Policy-Area a:hover{
    color: var(--Light-Blue);
}


@media (min-width: 1024px) {

    form {
        align-items: center;
    }

    input {
        height: 48px
    }

    .Sign-up-Area {
        left: auto;
        top: 67px;
        right: 100px !important;
        transform: translateX(0%);
        max-width: 280px;
        white-space: nowrap;
    }

    .Form-Wrapper {
        width: clamp(300px, 90%, 550px);
    }

    .Button-Area {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 12px;
    }

    .Blue-BTN {
        width: clamp(90px, 100%, 110px);
        height: 48px
    }

    .White-BTN {
        height: 48px
    }

    .Input-Field {
        min-width: 350px;
        justify-content: center;
        gap: 32px;
    }
}