.Body-LogIn{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    margin: 0 16px;
}


.Mobile-Header-Icon{
    /* padding-top: 37px; */
    padding-left: 38px;
}

.Mobile-Header-Icon img {
    height: 78.03px;
    width: 64px;
}



.Form-Wrapper{
    background-color: white;
    /* width: 300px; */
    width: clamp(300px, 100%, 428px);
    text-align: center;
    border-radius: 30px;
    padding: 32px 0;
    /* margin: 0 auto; */
    box-shadow: var(--Shadow);
}


.Input-Field{
    gap: 32px;
    display: flex;
    flex-direction: column;
    padding: 0 16px
}


form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}


form h1{
    margin: 0;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
}


input{
    height: 48px;
    border-radius: 10px;
    border: 1px solid lightgray;    
    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;
}


 input[type="email"]{
    background-image: url(../assets/icons/mail.svg);
    background-repeat: no-repeat;
    background-position: 95%;
 }

 input[type="password"]{
    background-image: url(../assets/icons/lock.svg);
    background-repeat: no-repeat;
    background-position: 95%;
 }

input[type="checkbox"] {
    background-color: initial;
    cursor: pointer;
    appearance: auto;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border-radius: 3px;
    height: 16px;
    width: 16px;
}


.Checkbox-Remember-Me{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    font-weight: var(--FW-M);
}


.Button-Area{
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
}


.Blue-BTN{
    background-color: var(--Dark-Blue);
    color: white;
    height: 51px;
    width: 180px;
    border-radius: 8px;
    padding: 4px 0;
    border: none;
    font-size: var(--FS-L);
    font-weight: var(--FW-L);
}


.White-BTN{
    background-color: white;
    color:var(--Dark-Blue);
    border: 1px solid var(--Dark-Blue) ;
    height: 51px;
    width: 180px;
    border-radius: 8px;
    padding: 4px 0;
    font-size: var(--FS-L);
    font-weight: var(--FW-L);
}

.Sign-up-Area{
display: flex;
gap: 35px;
width: 292px;
font-weight: var(--FW-M);
}

.Sign-up-Area button{
width: 40%;
}

.Policy-Area{
    display: flex;
    gap: 8px;
}

.Policy-Area a{
    line-height: 19.2px;
    font-size: var(--FS-M);
    font-weight: var(--FW-M);
    color: var(--Link-Color);
    text-decoration: none;
    padding: 8px;
}