.sidebarWrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: rgb(42, 54, 71);
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.sidebarMenu {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    gap: 40px;
    text-align: center;
    padding-bottom: 440px;
}

.sidebarMenu a {
    color: rgb(113, 118, 125);
    text-decoration: none;
}

.sidebarMenu a:hover {
    background-color: rgb(56, 69, 88);
}

.sidebarLogo {
    margin-top: 50px;
}

.sidebarFooter a {
    color: inherit;
    color: rgb(113, 118, 125);
    text-decoration: none;
}

.sidebarFooter a:hover {
    color: rgb(41, 171, 226);
}

.sidebarFooter {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px;
}

a {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

span {
    color: white;
}