.sidebarWrapper {
    display: flex;
    flex-direction: column;
    max-width: 232px;
    background-color: rgb(42, 54, 71);
    height: 100vh;
    align-items: center;
}

.sidebarMenu {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 20px;
    text-align: center;
    width: 100%;
}

.sidebarMenu a {
    color: rgb(113, 118, 125);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    /* margin: 0 auto; */
}

.sidebarMenu a:hover {
    background-color: rgb(56, 69, 88);

}

.sidebarLink {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
}

.sidebarContent {
    gap: 5px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 55px;
}

.sidebarContent:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.sidebarContent:hover {
    cursor: pointer;
}

.sidebarLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30%;
}

.sidebarPlaceholder {
    height: 300px;
    width: 300px;
}

.sidebarFooter a {
    color: inherit;
    color: rgb(113, 118, 125);
    text-decoration: none;
}

.sidebarFooter a:hover {
    color: rgb(41, 171, 226);
}

.sidebarFooter {
    display: flex;
    flex-direction: column;
}

.sidebarFooterPlaceholder {
    height: 100px;
}

body {
    margin: 0px;
}

a {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1024px) {
    .sidebarWrapper {
        display: none;
    }
}