body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 61px;
    margin: 0;
    font-weight: 700;
}

h2 {
    font-weight: 600;
    font-size: 47px;
    margin: 10px;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -10px;
}

p {
    margin-top: 2px;
}

.sidebarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #2A3647;
    z-index: 1000;
    box-sizing: border-box;
}

.summary-container {
    margin-left: 250px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    color: var(--Dark-Blue);
    align-items: center;
    /* max-width: 396px; */
    height: 100vh;
    flex-direction: column;
    position: relative;
    /* margin: 0 auto; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.hero-smry {
    display: flex;
    align-items: center;
    width: 625px;
    height: 73px;
}

.divider-desktop {
    background-color: var(--Light-Blue);
    height: 3px;
    width: 60px;
    margin: 16px 0;
    position: relative;
    display: block;
    transform: rotate(90deg);
}

.divider {
    display: none;
    background-color: var(--Light-Blue);
    height: 3.5px;
    width: 20%;
    position: relative;
}

.logo {
    height: 32px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    background: var(--Dark-Blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
}

.main-content {
    flex: 1;
    padding: 16px;
    margin-top: 90px;
}

.subheading {
    color: #555;
    font-size: 27px;
    font-weight: 400;
    margin: 8px 0 16px;
    margin-top: 24px;
}

.task-plan-metric {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.metrics-grid {
    display: grid;
    gap: 16px;
    margin-top: 60px;
    height: 562px;
    width: 560px;
}

.metric {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    gap: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    width: 292px;
    height: 168px;
    text-decoration: none;
    color: var(--Dark-Blue);
}

.metric img {
    width: 69px !important;
    height: 69px !important;
}

.metric-text {
    width: 50px;
    height: 101px;
    line-height: 0.8;
    text-align: center;
}

.st-number {
    font-size: 77px !important;
    margin-left: 0;
}


.metric:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: .2s;
    background-color: var(--Dark-Blue);
    color: white;
}

.metric:hover .img-top {
    display: none;
    width: 42px;
    height: 42px;
}

.metric:hover .img-back {
    display: block;
    width: 42px;
    height: 42px;
}

.img-back {
    display: none;
}

.metric-wide {
    width: 595px;
    height: 168px;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    text-decoration: none;
    color: var(--Dark-Blue);
}

.metric-wide:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: .2s;
    color: white;
    background-color: #2A3647;
}

.metric-wide-img {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.urgent-section {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-top: 14px;
    line-height: 0.8;
}

.metric-wide img {
    width: 60px;
    height: 60px;
    margin-left: 48px;
}

.divider-metric {
    background-color: rgba(0, 0, 0, 0.16);
    height: 2px;
    width: 20%;
    transform: rotate(90deg);
    margin: auto;
    position: relative;
    transform-origin: center center;
}

.tasks {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 16px;
}

.metric-sm {
    flex: 1;
    max-width: 100px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding-top: 18px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    overflow-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    padding-bottom: 16px;
    text-decoration: none;
    color: var(--Dark-Blue);
}

.metric-sm:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: .2s;
    color: white;
    background-color: var(--Dark-Blue);
}

.metric-sm p {
    font-size: 12px;
    color: #555;
    text-align: center;
    word-break: break-all;
}

.red-icon-wide-container {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.deadline-section {
    width: 178px;
    height: 57px;
    margin-right: 50px;
    /* line-height: 1.6; */
    gap: 13px;
    margin-bottom: 30px;
}

.deadline-section  h3{
    font-size: 21px;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    background: var(--Dark-Blue);
    color: white;
}

.footer-btn {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.footer-btn.active {
    font-weight: bold;
    text-decoration: underline;
}


.overlay{
    position: absolute;
    top: 65px;
    height: 87.2vh;
    width: 100%;
    background-color: var(--BGC-Gray);
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    animation: overlay 400ms ease-in 1200ms forwards; 
}

.overlay h1{
    color: var(--Light-Blue);
    font-family: Inter;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
}

.overlay h2{
    color: var(--Dark-Blue);
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
}

@keyframes overlay {
    0%{
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@media (max-width: 1024px) {
    .hero-smry {
        flex-direction: column;
        align-items: flex-start;
        height: 120px;
        gap: 16px !important;
    }

    .divider-desktop {
        display: none;
    }

    .divider {
        display: block;
        
    }
}

@media (max-width: 768px) {
    .hero-smry {
        align-items: center;
    }

    .divider {
        width: 80%;
        margin: 6px 0;
        height: 1.5px;
    }
}